version: '2'
services:
  builder:
    image: takutakahashi/k8s-docker-image-builder:latest
    ports:
      - 8081:8080
    volumes:
      - ../tmp/credentials.json:/secrets/credentials.json:ro
      - ~/.ssh/id_rsa:/root/.ssh/id_rsa:ro
      - /var/run/docker.sock:/var/run/docker.sock:rw
    restart: always
